:root {
  --rp-sidebar-width: 320px !important;
  --rp-aside-width: 268px !important;
  --rp-c-bg: #ffffff !important;
  --rp-c-bg-soft: #f9f8fd !important;
  --rp-c-bg-mute: #e9e7ee !important;
  --rp-c-divider: #cfced5 !important;
  --rp-c-divider-light: #e9e7ee !important;
  --rp-c-text-1: #201f24 !important;
  --rp-c-text-2: #838289 !important;
  --rp-c-text-3: #bcbbc2 !important;
  --rp-c-text-4: #bcbbc2 !important;
  --rp-c-text-code: var(--rp-c-brand-dark) !important;
  --rp-c-brand: #8232ff !important;
  --rp-c-brand-light: #a96cff !important;
  --rp-c-brand-lighter: #d4c8ff !important;
  --rp-c-brand-dark: #5e1bb7 !important;
  --rp-c-brand-darker: #604399 !important;
  --rp-c-brand-tint: rgba(155, 109, 255, 0.1) !important;
  --rp-c-gray: #8e8e8e !important;
  --rp-c-gray-light-1: #aeaeae !important;
  --rp-c-gray-light-2: #c7c7c7 !important;
  --rp-c-gray-light-3: #d1d1d1 !important;
  --rp-c-gray-light-4: #e5e5e5 !important;
  --rp-c-gray-light-5: #f2f2f2 !important;
  --rp-c-dark: #000000 !important;
  --rp-c-dark-light-1: #2f2f2f !important;
  --rp-c-dark-light-2: #3a3a3a !important;
  --rp-c-dark-light-3: #4a4a4a !important;
  --rp-c-dark-light-4: #5c5c5c !important;
  --rp-c-dark-light-5: #6b6b6b !important;
  --rp-radius: 4px !important;
  --rp-radius-small: 2px !important;
  --rp-radius-large: 8px !important;
  --rp-font-family: "Switzer Variable", sans-serif !important;
}

body {
  background: var(--rp-c-bg) !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

.dark {
  --rp-c-bg: #201f24 !important;
  --rp-c-bg-soft: #201f24 !important;
  --rp-c-bg-mute: rgba(255, 255, 255, 0.05) !important;
  --rp-c-divider-light: #ffffff4d !important;
  --rp-c-text-1: #ffffff !important;
  --rp-c-text-2: #cfced5 !important;
  --rp-c-text-3: #bcbbc2 !important;
  --rp-c-text-4: #bcbbc2 !important;
  --rp-c-text-code: var(--rp-c-brand-light) !important;
}

/* Code blocks */
:root {
  --rp-code-block-bg: var(--rp-c-bg-soft);
  --rp-code-title-bg: var(--rp-c-bg-mute);
}

.dark {
  --rp-code-block-bg: var(--rp-c-bg-soft);
  --rp-code-title-bg: var(--rp-c-bg-mute);
}

/* Home background gradient */
:root {
  --rp-home-mask-background-image: conic-gradient(
    from 180deg at 50% 50%,
    var(--rp-c-brand) 0deg,
    180deg,
    var(--rp-c-brand-darker) 1turn
  );
}

/* Nav header */
.rspress-nav {
  background-color: var(--rp-c-bg) !important;
  border-bottom: 1px solid var(--rp-c-divider-light) !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

/* Sidebar item vertical line */
.rspress-sidebar-group::before {
  content: none;
}

/* Sidebar section items */
.rspress-sidebar-group > div > a > div,
.rspress-sidebar-group > div > section > div {
  background-color: transparent !important;
  font-size: 14px !important;
  color: var(--rp-c-text-2) !important;
  border-radius: var(--rp-radius-small) !important;
  font-family: var(--rp-font-family) !important;
}

.rspress-sidebar-group > div > a > div:hover,
.rspress-sidebar-group > div > section > div:hover {
  color: var(--rp-c-brand) !important;
  background: var(--rp-c-bg-mute) !important;
}

.rspress-sidebar {
  background: var(--rp-c-bg) !important;
  border-right: 1px solid var(--rp-c-divider-light) !important;
  color: var(--rp-c-text-2) !important;
  font-family: var(--rp-font-family) !important;
  margin-right: 12px !important;

  & > div {
    padding-right: 0 !important;
  }
}

/* Sidebar section headers */
.rspress-scrollbar > nav > section > div:first-child,
.rspress-scrollbar > nav > a > div:first-child {
  background-color: transparent !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

.rspress-scrollbar > nav > section > div:first-child:hover {
  color: var(--rp-c-brand) !important;
}

.rspress-scrollbar > nav > a > div:first-child::before {
  content: none;
}

.rspress-scrollbar > nav > a > div:first-child:hover {
  color: var(--rp-c-brand) !important;
}

/* Sidebar section headers */
.rspress-sidebar-section-header > span {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

/* Table of Contents */
#aside-container {
  border-left: 1px solid var(--rp-c-divider-light) !important;
  padding-left: 1rem;
}

.home-hero-name-img {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Overview page */
.overview-index {
  padding-top: var(--rp-content-padding-y) !important;
}

div:has(> p.rspress-home-hero-text) {
  align-items: stretch;
}

a:has(> span.home-hero-primary-action) {
  background: var(--rp-c-brand) !important;
}

p.rspress-home-hero-text {
  font-size: 1.35rem;
}

@media (min-width: 370px) {
  p.rspress-home-hero-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  p.rspress-home-hero-text {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  p.rspress-home-hero-text {
    font-size: 3rem;
  }
}

.rspress-directive {
  background: none !important;
  border: none !important;
  border-left: 2px solid !important;
  border-radius: 0px !important;
  padding: 8px 16px !important;
  margin: 1.5rem 0 !important;
  font-family: var(--rp-font-family) !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.rspress-directive-title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: var(--rp-c-text-1) !important;
}

.rspress-directive .rspress-directive-title::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.rspress-directive-content > p {
  font-size: 16px !important;
  margin: 0 0 0 40px !important;
}

.tip {
  border-left-color: #2fc717 !important;
}
.info {
  border-left-color: #8232ff !important;
}
.warning {
  border-left-color: #ffb14c !important;
}
.danger {
  border-left-color: #fa7171 !important;
}
.details {
  border-left-color: #838289 !important;
}

.rspress-directive.tip .rspress-directive-title::before {
  content: "";
  background: url("check-double.svg") no-repeat center center / contain;
}
.rspress-directive.info .rspress-directive-title::before {
  content: "";
  background: url("info-box.svg") no-repeat center center / contain;
}
.rspress-directive.warning .rspress-directive-title::before {
  content: "";
  background: url("warning-box.svg") no-repeat center center / contain;
}
.rspress-directive.danger .rspress-directive-title::before {
  content: "";
  background: url("alert.svg") no-repeat center center / contain;
}
.rspress-directive.details .rspress-directive-title::before {
  content: "";
  background: url("arrow-bar-right.svg") no-repeat center center / contain;
}
