:root {
  /* Fonts */
  --ck-font-family: "Switzer Variable", Arial, sans-serif;
  --ck-header-font-family: "Alliance No. 2", Arial, sans-serif;
  /* Callstack/Background/Primary */
  --ck-background-primary: #ffffff;
  /* Callstack/Border/Primary */
  --ck-border-primary: #cfced5;
  /* Callstack/Border/Secondary */
  --ck-border-secondary: #e9e7ee;
  /* Callstack/Foreground/Primary */
  --ck-foreground-primary: #f9f8fd;
  /* Callstack/Foreground/Secondary */
  --ck-foreground-secondary: #e9e7ee;
  /* Callstack/Text/Primary */
  --ck-text-primary: #201f24;
  /* Callstack/Text/Secondary */
  --ck-text-secondary: #838289;
  /* Callstack/Text/Tertiary */
  --ck-text-tertiary: #bcbbc2;
  /* Callstack/Accent */
  --ck-accent: #8232ff;
  /* Callstack/Button/Primary/Label */
  --ck-button-primary-label: #ffffff;
  /* Callstack/Button/Primary/Icon */
  --ck-button-primary-icon: #ffffff33;
  /* Callstack/Button/Primary/Background */
  --ck-button-primary-background: #201f24;
  /* Callstack/Button/Secondary/Label */
  --ck-button-secondary-label: #201f24;
  /* Callstack/Button/Secondary/Icon */
  --ck-button-secondary-icon: #1514150d;
  /* Callstack/Button/Secondary/Border */
  --ck-button-secondary-border: #15141526;
  /* Coding/Coffee */
  --ck-coding-coffee: #ffb14c;
  /* Coding/Live Stream */
  --ck-coding-live-stream: #fa7171;
  /* Color/Neutral Darkest */
  --ck-neutral-darkest: #201f24;
  /* Color/Neutral Lighter */
  --ck-neutral-lighter: #e9e7ee;
}

.dark {
  /* Callstack/Background/Primary */
  --ck-background-primary: #201f24;
  /* Callstack/Border/Primary */
  --ck-border-primary: #ffffff4d;
  /* Callstack/Border/Secondary */
  --ck-border-secondary: #ffffff4d;
  /* Callstack/Foreground/Primary */
  --ck-foreground-primary: #2b2a2f;
  /* Callstack/Foreground/Secondary */
  --ck-foreground-secondary: #838289;
  /* Callstack/Text/Primary */
  --ck-text-primary: #ffffff;
  /* Callstack/Text/Secondary */
  --ck-text-secondary: #cfced5;
  /* Callstack/Text/Tertiary */
  --ck-text-tertiary: #bcbbc2;
  /* Callstack/Accent */
  --ck-accent: #8232ff;
  /* Callstack/Button/Primary/Label */
  --ck-button-primary-label: #201f24;
  /* Callstack/Button/Primary/Icon */
  --ck-button-primary-icon: #1514151a;
  /* Callstack/Button/Primary/Background */
  --ck-button-primary-background: #ffffff;
  /* Callstack/Button/Secondary/Label */
  --ck-button-secondary-label: #ffffff;
  /* Callstack/Button/Secondary/Icon */
  --ck-button-secondary-icon: #ffffff33;
  /* Callstack/Button/Secondary/Border */
  --ck-button-secondary-border: #ffffff4d;
  /* Color/Neutral Darkest */
  --ck-neutral-darkest: #201f24;
  /* Color/White */
  --ck-white: #ffffff;
}

:root {
  /* rspress vars */
  --rp-sidebar-width: 320px !important;
  --rp-aside-width: 268px !important;
  --rp-radius: 4px !important;
  --rp-radius-small: 2px !important;
  --rp-radius-large: 8px !important;
  --rp-font-family: var(--ck-font-family) !important;
  --rp-nav-height: 48px !important;
  /* rspress colors */
  --rp-c-bg: var(--ck-background-primary) !important;
  --rp-c-bg-soft: var(--ck-foreground-secondary) !important;
  --rp-c-bg-mute: var(--ck-foreground-secondary) !important;
  --rp-c-divider: var(--ck-border-primary) !important;
  --rp-c-divider-light: var(--ck-border-secondary) !important;
  --rp-c-text-1: var(--ck-text-primary) !important;
  --rp-c-text-2: var(--ck-text-secondary) !important;
  --rp-c-text-3: var(--ck-text-tertiary) !important;
  --rp-c-text-4: var(--ck-text-tertiary) !important;
  --rp-c-text-code: var(--rp-c-brand-dark) !important;
  --rp-c-brand: var(--ck-accent) !important;
  --rp-c-brand-light: var(--ck-accent) !important;
  --rp-c-brand-lighter: var(--ck-accent) !important;
  --rp-c-brand-dark: var(--ck-accent) !important;
  --rp-c-brand-darker: var(--ck-accent) !important;
  --rp-c-brand-tint: var(--ck-accent) !important;
  --rp-c-gray: var(--ck-text-secondary) !important;
  --rp-c-gray-light-1: var(--ck-text-tertiary) !important;
  --rp-c-gray-light-2: var(--ck-foreground-secondary) !important;
  --rp-c-gray-light-3: var(--ck-foreground-secondary) !important;
  --rp-c-gray-light-4: var(--ck-foreground-secondary) !important;
  --rp-c-gray-light-5: var(--ck-foreground-secondary) !important;
  --rp-c-dark: var(--ck-neutral-darkest) !important;
  --rp-c-dark-light-1: var(--ck-neutral-darkest) !important;
  --rp-c-dark-light-2: var(--ck-neutral-darkest) !important;
  --rp-c-dark-light-3: var(--ck-neutral-darkest) !important;
  --rp-c-dark-light-4: var(--ck-neutral-darkest) !important;
  --rp-c-dark-light-5: var(--ck-neutral-darkest) !important;
  --rp-code-title-bg: rgba(233, 231, 238, 1) !important;
  --rp-code-block-bg: rgba(249, 248, 253, 1) !important;
}

.dark {
  --rp-c-bg: var(--ck-background-primary) !important;
  --rp-c-bg-soft: var(--ck-foreground-secondary) !important;
  --rp-c-bg-mute: var(--ck-foreground-secondary) !important;
  --rp-c-divider-light: var(--ck-border-secondary) !important;
  --rp-c-text-1: var(--ck-text-primary) !important;
  --rp-c-text-2: var(--ck-text-secondary) !important;
  --rp-c-text-3: var(--ck-text-tertiary) !important;
  --rp-c-text-4: var(--ck-text-tertiary) !important;
  --rp-c-text-code: var(--rp-c-brand-light) !important;
  --rp-code-title-bg: rgba(54, 53, 57, 1) !important;
  --rp-code-block-bg: rgba(43, 42, 47, 1) !important;
}

body {
  background: var(--rp-c-bg) !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

/* Code blocks */
:root {
  --rp-code-block-bg: var(--rp-c-bg-soft);
  --rp-code-title-bg: var(--rp-c-bg-mute);
}

.dark {
  --rp-code-block-bg: var(--rp-c-bg-soft);
  --rp-code-title-bg: var(--rp-c-bg-mute);
}

/* Home background gradient */
:root {
  --rp-home-mask-background-image: conic-gradient(
    from 180deg at 50% 50%,
    var(--rp-c-brand) 0deg,
    180deg,
    var(--rp-c-brand-darker) 1turn
  );
}

/* Nav header */
.rspress-nav {
  background-color: var(--rp-c-bg) !important;
  border-bottom: 1px solid var(--rp-c-divider-light) !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

/* Sidebar item vertical line */
.rspress-sidebar-group::before {
  content: none;
}

/* Sidebar section items */
.rspress-sidebar-group > div > a > div,
.rspress-sidebar-group > div > section > div {
  background-color: transparent !important;
  font-size: 14px !important;
  color: var(--rp-c-text-2) !important;
  border-radius: var(--rp-radius-small) !important;
  font-family: var(--rp-font-family) !important;
}

.rspress-sidebar-group > div > a > div:hover,
.rspress-sidebar-group > div > section > div:hover {
  color: var(--rp-c-brand) !important;
  background: var(--rp-c-bg-mute) !important;
}

.rspress-sidebar {
  background: var(--rp-c-bg) !important;
  border-right: 1px solid var(--rp-c-divider-light) !important;
  color: var(--rp-c-text-2) !important;
  font-family: var(--rp-font-family) !important;
  margin-right: 12px !important;

  & > div {
    padding-right: 0 !important;
  }
}

h2 {
  margin: 0px !important;
}

/* Sidebar section headers */
.rspress-scrollbar > nav > section > div:first-child,
.rspress-scrollbar > nav > a > div:first-child {
  background-color: transparent !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

.rspress-scrollbar > nav > section > div:first-child:hover {
  color: var(--rp-c-brand) !important;
}

.rspress-scrollbar > nav > a > div:first-child::before {
  content: none;
}

.rspress-scrollbar > nav > a > div:first-child:hover {
  color: var(--rp-c-brand) !important;
}

/* Sidebar section headers */
.rspress-sidebar-section-header > span {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
}

/* Table of Contents */
#aside-container {
  border-left: 1px solid var(--rp-c-divider-light) !important;
  margin: -48px 0 0 0 !important;
  padding: 16px 0 16px 0 !important;
}

.aside-link.aside-active {
  color: var(--rp-c-text-1) !important;
  background-color: transparent !important;
  border-left: 1px solid var(--rp-c-text-1) !important;
  border-radius: 0 !important;
}

.home-hero-name-img {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Overview page */
.overview-index {
  padding-top: var(--rp-content-padding-y) !important;
}

div:has(> p.rspress-home-hero-text) {
  align-items: stretch;
}

a:has(> span.home-hero-primary-action) {
  background: var(--rp-c-brand) !important;
}

p.rspress-home-hero-text {
  font-size: 1.35rem;
}

@media (min-width: 370px) {
  p.rspress-home-hero-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  p.rspress-home-hero-text {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  p.rspress-home-hero-text {
    font-size: 3rem;
  }
}

/* NAV */
.rspress-nav {
  padding: 8px 16px !important;
}

.rspress-nav-search-button {
  height: 30px !important;
  padding: 4px !important;
  border-radius: 2px !important;
  border: 1px solid var(--rp-c-divider-light) !important;
}

.rspress-nav-appearance > div.rp-border {
  color: var(--rp-c-text-1) !important;
  background: var(--rp-c-bg-soft) !important;
  border: none !important;
  border-radius: 2px !important;
  padding: 4px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.15s;
}

div[class^="social-links-icon"] {
  color: var(--rp-c-text-1) !important;
  margin: 0 !important;
}

div[class^="social-links-icon"] > div {
  background: var(--rp-c-bg-soft) !important;
  border: none !important;
  border-radius: 2px !important;
  padding: 6px !important;
  margin: -4px !important;
  cursor: pointer !important;
  transition: background 0.15s;
}

/* CONTAINERS */
.rspress-directive {
  background: none !important;
  border: none !important;
  border-left: 2px solid !important;
  border-radius: 0px !important;
  padding: 8px 16px !important;
  margin: 1rem 0 !important;
  font-family: var(--rp-font-family) !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.rspress-directive-title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: var(--rp-c-text-1) !important;
}

.rspress-directive .rspress-directive-title::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.rspress-directive-content > p {
  font-size: 16px !important;
  margin: 0 0 0 40px !important;
}

.tip {
  border-left-color: #2fc717 !important;
}
.info {
  border-left-color: #8232ff !important;
}
.warning {
  border-left-color: #ffb14c !important;
}
.danger {
  border-left-color: #fa7171 !important;
}
.details {
  border-left-color: #838289 !important;
}

.rspress-directive.tip .rspress-directive-title::before {
  content: "";
  background: url("check-double.svg") no-repeat center center / contain;
}
.rspress-directive.info .rspress-directive-title::before {
  content: "";
  background: url("info-box.svg") no-repeat center center / contain;
}
.rspress-directive.warning .rspress-directive-title::before {
  content: "";
  background: url("warning-box.svg") no-repeat center center / contain;
}
.rspress-directive.danger .rspress-directive-title::before {
  content: "";
  background: url("alert.svg") no-repeat center center / contain;
}
.rspress-directive.details .rspress-directive-title::before {
  content: "";
  background: url("arrow-bar-right.svg") no-repeat center center / contain;
}

/* CODE BLOCKS */
.rspress-code-title {
  font-family: "Fira Code", monospace !important;
}

@font-face {
  font-family: "Alliance No. 2";
  src: url("https://cdn.prod.website-files.com/67e6b7885e182e1054b556db/67e6b8ee4fb44f39145cf744_AllianceNo2-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ck-header-font-family) !important;
}

/* OVERVIEW */
.overview-index div > h2 {
  border-top: none !important;
  margin-bottom: 16px !important;
}

/* no results */
.overview-index div {
  border-top: none !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--ck-font-family) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  gap: 0 !important;
}

div[class^="overview-group_"] {
  background-color: var(--ck-foreground-primary) !important;
  transition: none !important;
}

div[class^="overview-group_"] h3 > a {
  font-size: 16px !important;
}

div[class^="overview-group_"] a {
  color: var(--rp-c-text-1) !important;
}

div[class^="overview-group_"] a:hover {
  color: var(--rp-c-brand) !important;
}

input#api-filter {
  background: var(--ck-background-primary) url("search.svg") no-repeat 12px center / 16px 16px;
  border: 1px solid var(--ck-border-primary);
  color: var(--ck-text-secondary);
  border-radius: 2px;
  font-family: var(--ck-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 12px 10px 36px;
  box-sizing: border-box;
  outline: none;
  min-width: 300px;
}

input#api-filter::placeholder {
  color: var(--ck-text-tertiary);
  opacity: 1;
  font-family: var(--ck-font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

input#api-filter::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: url("close.svg") no-repeat center center / contain;
  cursor: pointer;
}
