.button {
  display: block;
  font-family: var(--rp-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 2px;
  padding: 4px;
  padding-left: 16px;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  transition: background-position 0.45s cubic-bezier(0.625, 0.05, 0, 1),
    color 0.45s cubic-bezier(0.625, 0.05, 0, 1),
    transform 0.45s cubic-bezier(0.625, 0.05, 0, 1);

  @media (pointer: fine) {
    &:hover {
      color: #ffffff !important;
      background-position: left bottom !important;
    }

    &:hover svg.button-icon > path {
      animation: slide-out 0.2s cubic-bezier(0.625, 0.05, 0, 1),
        slide-in 0.25s cubic-bezier(0.625, 0.05, 0, 1) 0.2s;
    }
  }
}

.button > * {
  vertical-align: -50%;
}

// light mode
.button.alt,
:global(.dark) .button.brand {
  background: linear-gradient(to right, var(--rp-c-brand) 50%, #ffffff 50%)
    // add 1px to avoid subpixel problems (lagging 1px violet background) in odd-width buttons
    right bottom / calc(200% + 1px) 100%;
  color: #201f24;
}

// dark mode
.button.brand,
:global(.dark) .button.alt {
  background: linear-gradient(to right, var(--rp-c-brand) 50%, #201f24 50%)
    // add 1px to avoid subpixel problems (lagging 1px violet background) in odd-width buttons
    right bottom / calc(200% + 1px) 100%;
  color: #ffffff;
}

@keyframes slide-in {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
  }
}

.brand {
  border: none;
}

.alt {
  border: 1px solid var(--rp-c-divider-light);
}

.button-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  padding: 8px;
  margin-left: 12px;
  transition: color 0.45s cubic-bezier(0.625, 0.05, 0, 1);
  overflow: hidden;
}

// light mode
.button.alt .button-icon,
:global(.dark) .button.brand .button-icon,
.button-icon {
  color: inherit;
  background: #1514151a;
}

// dark mode
.button.brand .button-icon,
:global(.dark) .button.alt .button-icon {
  color: inherit;
  background: #ffffff33;
}
