.container {
  margin: 0 auto;
  width: calc(100% - 8 * 2px);
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  padding-top: 155px;
  padding-bottom: 155px;
}

.heroMain {
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 55%;
}

.heroImage {
  max-height: 24px;
  margin: 0 0 32px 0;
}

.heroName {
  color: var(--rp-c-text-1);
  font-family: 'Alliance No.2', Arial, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2.56px;
}

.heroTaglineActions {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 32px 0 60%;
}

.heroTagline {
  color: var(--rp-c-text-2);
  font-family: var(--rp-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.36px;
  text-wrap: pretty;
  max-width: 500px;
}

.heroActions {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin: 32px 0;
}

@media (max-width: 960px) {
  .container {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .heroMain {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
  }

  .heroImage {
    margin: 0 32px 32px 32px;
  }

  .heroName {
    font-size: 48px;
    text-align: center;
    margin: 0 32px;
  }

  .heroTaglineActions {
    align-self: center;
    margin: 32px;
  }

  .heroTagline {
    max-width: 100%;
    text-align: center;
  }

  .heroActions {
    align-self: center;
  }
}

@media (max-width: 640px) {
  .heroMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .heroImage {
    margin: 0 16px 32px 16px;
  }

  .heroName {
    font-size: 32px;
    text-align: center;
    margin: 0 16px;
  }

  .heroActions {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .heroTaglineActions {
    align-self: center;
    margin-bottom: 0;
  }

  .heroActions {
    gap: 12px;
  }
}
