.container {
  border-radius: 4px;
  padding: 24px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 48px;
  position: relative;
}

.container::before {
  content: '';
  display: block;
  position: absolute;
  top: -1;
  left: 5%;
  width: 90%;
}

.headline {
  color: var(--rp-c-text-1);
  font-family: var(--ck-header-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.64px;
  margin-bottom: 8px;
}

.description {
  color: var(--rp-c-text-2);
  font-family: var(--rp-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.28px;
}
