/* container */
.rp-callout {
  background: none !important;
  border: 1px dashed transparent !important;
  border-left: 2px solid !important;
  border-radius: 0px !important;
  padding: 8px 16px !important;
  margin: 1rem 0 !important;
  font-family: var(--rp-font-family) !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

/* container title */
.rp-callout__title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: var(--rp-c-text-1) !important;
}

/* container icon */
.rp-callout .rp-callout__title::before {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

/* container content */
.rp-callout__content > * {
  font-size: 16px !important;
  margin-left: 40px !important;
}

/* container content links */
.rp-callout .rp-callout__content a {
  font-weight: 400 !important;
}

/* directive content width to avoid overflowing the container */
.rp-callout__content {
  width: 100%;
}

/* container custom border left colors */
.rp-callout--info {
  border-left-color: var(--rp-container-info-border) !important;
}
.rp-callout--tip {
  border-left-color: var(--rp-container-tip-border) !important;
}
.rp-callout--warning {
  border-left-color: var(--rp-container-warning-border) !important;
}
.rp-callout--danger {
  border-left-color: var(--rp-container-danger-border) !important;
}
.rp-callout--details {
  border-left-color: var(--rp-container-details-border) !important;
}
.rp-callout--note {
  border-left-color: var(--rp-container-note-border) !important;
}

/* container custom icon */
.rp-callout--tip .rp-callout__title::before {
  content: "";
  background:
    url("../assets/check-double.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--info .rp-callout__title::before {
  content: "";
  background: url("../assets/info-box.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--warning .rp-callout__title::before {
  content: "";
  background:
    url("../assets/warning-box.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--danger .rp-callout__title::before {
  content: "";
  background: url("../assets/alert.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--details .rp-callout__title::before {
  content: "";
  background: url("../assets/details.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--note .rp-callout__title::before {
  content: "";
  background: url("../assets/notes.svg") no-repeat center center / contain;
  background-color: transparent !important;
}

details.details {
  position: relative;
}

summary.rp-callout__title {
  width: 100%;
}

details[open] > summary.rp-callout__title::after {
  content: "";
  position: absolute;
  left: 95%;
  width: 24px;
  height: 24px;
  background:
    url("../assets/arrow-right.svg") no-repeat center center / contain;
}

details:not([open]) > summary.rp-callout__title::after {
  content: "";
  position: absolute;
  left: 95%;
  width: 24px;
  height: 24px;
  background: url("../assets/arrow-down.svg") no-repeat center center / contain;
}
