/* EDIT ON GITHUB */
a.rp-edit-link {
  color: var(--rp-c-text-2);
  position: relative;
  padding-left: 32px;
}

a.rp-edit-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background: url("../assets/edit-box.svg") no-repeat center center / contain;
}
