/* Table header */
tr > th {
  background-color: var(--rp-code-block-bg) !important;
  font-weight: 500 !important;
}

/* Table - don't color even rows */
tr.rp-border {
  background-color: var(--rp-c-bg) !important;
}

/* Package Manager Tabs - background */
div[class^="tab-list_"] {
  background-color: var(--rp-code-title-bg);
}

/* Package Manager Tabs - selected color */
div[class^="tab_"][class*="selected"],
div[class^="tab_"][class*="selected"] span {
  color: var(--rp-c-text-1);
  font-weight: 500;
  margin-bottom: 0;
}

/* Package Manager Tabs - not selected color */
div[class^="tab_"][class*="not-selected_"],
div[class^="tab_"][class*="not-selected_"] span {
  color: var(--rp-c-text-2);
  font-weight: 500;
  margin-bottom: 0;
}

/* Tabs - selected underline */
div[class^="tab_"][class*="selected"]::after {
  color: var(--rp-c-brand);
  border-radius: 0;
  width: 80%;
  bottom: -2px;
  height: 2px;
  left: 10%;
}

/* Code block actions */
svg[class^="icon-wrap_"] > path,
svg[class^="icon-wrapped_"] > path,
svg[class^="icon-copy_"] > path {
  fill: var(--rp-c-text-2);
}

/* inline code outside of headers */
.rspress-doc :not(:is(pre, h1, h2, h3, h4, h5, h6)) > code {
  font-size: 16px !important;
  padding: 2px 4px !important;
}

/* inline code outside of headers */
.rspress-doc :not(:is(pre, div)) > code {
  border-radius: var(--rp-radius) !important;
}

/* code block titles */
.rspress-code-title {
  font-family: var(--rp-font-family-mono) !important;
}

/* container */
.rp-callout {
  background: none !important;
  border: 1px dashed transparent !important;
  border-left: 2px solid !important;
  border-radius: 0px !important;
  padding: 8px 16px !important;
  margin: 1rem 0 !important;
  font-family: var(--rp-font-family) !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

/* container title */
.rp-callout__title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: var(--rp-c-text-1) !important;
}

/* container icon */
.rp-callout .rp-callout__title::before {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

/* container content */
.rp-callout__content > * {
  font-size: 16px !important;
  margin-left: 40px !important;
}

/* container content links */
.rp-callout .rp-callout__content a {
  font-weight: 400 !important;
}

/* directive content width to avoid overflowing the container */
.rp-callout__content {
  width: 100%;
}

/* container custom border left colors */
.rp-callout--info {
  border-left-color: var(--rp-container-info-border) !important;
}
.rp-callout--tip {
  border-left-color: var(--rp-container-tip-border) !important;
}
.rp-callout--warning {
  border-left-color: var(--rp-container-warning-border) !important;
}
.rp-callout--danger {
  border-left-color: var(--rp-container-danger-border) !important;
}
.rp-callout--details {
  border-left-color: var(--rp-container-details-border) !important;
}
.rp-callout--note {
  border-left-color: var(--rp-container-note-border) !important;
}

/* container custom icon */
.rp-callout--tip .rp-callout__title::before {
  content: "";
  background: url("../assets/check-double.svg") no-repeat center center /
    contain;
  background-color: transparent !important;
}
.rp-callout--info .rp-callout__title::before {
  content: "";
  background: url("../assets/info-box.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--warning .rp-callout__title::before {
  content: "";
  background: url("../assets/warning-box.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--danger .rp-callout__title::before {
  content: "";
  background: url("../assets/alert.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--details .rp-callout__title::before {
  content: "";
  background: url("../assets/details.svg") no-repeat center center / contain;
  background-color: transparent !important;
}
.rp-callout--note .rp-callout__title::before {
  content: "";
  background: url("../assets/notes.svg") no-repeat center center / contain;
  background-color: transparent !important;
}

details.details {
  position: relative;
}

summary.rp-callout__title {
  width: 100%;
}

details[open] > summary.rp-callout__title::after {
  content: "";
  position: absolute;
  left: 95%;
  width: 24px;
  height: 24px;
  background: url("../assets/arrow-right.svg") no-repeat center center / contain;
}

details:not([open]) > summary.rp-callout__title::after {
  content: "";
  position: absolute;
  left: 95%;
  width: 24px;
  height: 24px;
  background: url("../assets/arrow-down.svg") no-repeat center center / contain;
}

/* links */
[class*="link_"]:hover {
  color: var(--rp-c-brand) !important;
}

/* code links */
[class*="link_"]:hover > code {
  color: var(--rp-c-brand) !important;
}

/* code links in rspress-doc */
.rspress-doc a > code {
  color: var(--rp-c-text-1) !important;
  text-decoration: underline !important;
}

/* inline links */
div[class*="inline-link_"] {
  text-decoration: underline !important;
}

/* regular links in paragraphs have underline */
.dark p > [class*="link_"] {
  border-bottom: 3px solid var(--rp-c-brand);
}

p > [class*="link_"] {
  border-bottom: 1px solid var(--rp-c-brand);
}

/* remove arrow from links */
[class*="link_"]:not([target="_blank"]):after {
  content: none !important;
}

/* Edit page */
a.rp-edit-link {
  color: var(--rp-c-text-2);
  position: relative;
  padding-left: 32px;
}

a.rp-edit-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background: url("../assets/edit-box.svg") no-repeat center center / contain;
}
