/* Overview page */
.overview-index {
  padding-top: var(--rp-content-padding-y) !important;
}

.overview-index div > h2 {
  border-top: none !important;
  margin-bottom: 16px !important;
}

.overview-index div:has(input#api-filter) {
  gap: 0 !important;
}

/* Overview page - no results */
.overview-index div {
  border-top: none !important;
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

/* Overview page - group */
div[class^="overview-group_"] {
  background-color: var(--ck-foreground-primary) !important;
  transition: none !important;
}

/* Overview page - group header */
div[class^="overview-group_"] h3 > a {
  font-size: 16px !important;
}

/* Overview page - link */
div[class^="overview-group_"] a {
  color: var(--rp-c-text-1) !important;
}

/* Overview page - link hover */
div[class^="overview-group_"] a:hover {
  color: var(--rp-c-brand) !important;
}

/* Overview page - search */
input#api-filter {
  background: var(--rp-c-bg) url("../assets/search.svg") no-repeat 12px center /
    16px 16px;
  border: 1px solid var(--ck-border-primary);
  color: var(--rp-c-text-2);
  border-radius: var(--rp-radius-small);
  font-family: var(--rp-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 12px 10px 36px;
  box-sizing: border-box;
  outline: none;
  min-width: 200px;
}

/* Overview page - search placeholder */
input#api-filter::placeholder {
  color: var(--rp-c-text-3);
  opacity: 1;
  font-family: var(--rp-font-family);
  font-size: 16px;
  font-weight: 400;
}

/* Overview page - search placeholder - close button */
input#api-filter::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: url("../assets/close.svg") no-repeat center center / contain;
  cursor: pointer;
}

/* Fixes positioning of ck name on 404 page */
div#__rspress_root > section {
  min-height: 100vh;
}
