/* SEARCH */
div.rp-search-panel__mask {
  background: rgba(21, 20, 21, 0.5);
  backdrop-filter: blur(2px);
}

div.rp-search-panel__modal {
  background: var(--rp-c-bg);
  border: 1px solid var(--ck-border-primary);
  border-radius: var(--rp-radius);
  font-family: var(--rp-font-family);
  padding: 0px !important;
  box-shadow: 0px 40px 40px -20px rgba(32, 31, 36, 0.3);
}

div.rp-search-panel__input-form + h2 {
  display: none;
}

div.rp-search-panel__input-form {
  border: none !important;
}

input.rp-search-panel__input {
  color: var(--rp-c-text-1) !important;
  font-family: var(--rp-font-family) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important; /* 24px */
}

div.rp-search-panel__results {
  border-top: 1px solid var(--ck-border-primary) !important;
  box-shadow: 0px 40px 40px -20px rgba(32, 31, 36, 0.3);
}

div.rp-search-panel__results > div:not(:has(ul)) {
  justify-content: flex-end;
}

div.rp-search-panel__results svg {
  display: none !important;
}

li.rp-suggest-item > a {
  padding: 0 16px 0 16px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  margin-left: 1px !important;
  color: var(--rp-c-text-1) !important;
}

li.rp-suggest-item > a span.rp-suggest-item__mark {
  text-decoration: underline !important;
  color: var(--rp-c-text-1) !important;
}

li.rp-suggest-item--current > a {
  color: var(--rp-c-text-1) !important;
  text-decoration: none !important;
  background-color: var(--rp-c-bg-soft) !important;
}

li.rp-suggest-item--current > a p.rp-suggest-item__title {
  color: var(--rp-c-text-2) !important;
}

li.rp-suggest-item--current > a span.rp-suggest-item__mark {
  background-color: var(--rp-c-bg-soft) !important;
}

li.rp-suggest-item > a > div.rp-suggest-item__container > div > svg {
  display: none !important;
}

li.rp-suggest-item
  > a
  > div.rp-suggest-item__container
  > div.rp-suggest-item__content {
  padding: 0 !important;
}
