/* Table of Contents */
aside.rp-doc-layout__outline {
  border-left: 1px solid var(--rp-c-divider-light) !important;
  padding: 16px 0 16px 0 !important;
}

/* Contents - header */
.rp-outline__title,
aside.rp-doc-layout__outline > div.rp-outline {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  color: var(--rp-c-text-1) !important;
  border-left: none !important;
}

/* spacing between toc items */
.rp-toc-item {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-top: 0 !important;
}

/* hide progress circle */
svg.rp-progress-circle {
  display: none !important;
}

/* hover highlight color */
.rp-outline__toc > a.rp-toc-item.rp-link:hover {
  background-color: var(--ck-foreground-primary) !important;
}

/* hover higlight fill fix */
.rp-toc-item {
  margin-left: -20px !important;
  margin-right: -20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.rp-toc-item--active:before {
  left: 0 !important;
}
