.container {
  width: 85%;
  justify-self: center;
  margin: 90px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 101px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
