.container {
  width: calc(100% - 8 * 2px);
  margin: 90px auto;
  padding: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 101px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 960px) {
  .container {
    margin: 64px auto;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 32px auto;
  }
}
