.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 72rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 101px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.message {
  color: var(--rp-c-text-3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 8px;
}
