.rp-llms-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.625rem;
  height: 1.5rem;
  font-family: var(--rp-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--rp-c-text-2);
  background: var(--ck-foreground-primary);
  border: 1px solid var(--ck-border-secondary);
  border-radius: var(--rp-radius-small);
  cursor: pointer;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s;

  &:hover {
    color: var(--rp-c-brand);
    border-color: var(--rp-c-brand);
  }

  &:active {
    background: var(--ck-foreground-secondary);
  }

  svg {
    width: 14px;
    height: 14px;

    path {
      fill: currentColor;
    }
  }
}
